/*
Theme Name: Superinternert
Theme URI: http://pabl.one
Author: pablo.galbusera@gmail.com
Author URI: http://pabl.one
Description: Superinternert
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: pablone
Text Domain: saporiti
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

ol > li {
  margin-left: 1.5em; }

ol > li > ol {
  list-style-type: lower-alpha; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif; }

body,
button,
input,
select,
textarea {
  color: black; }

main {
  display: block; }

b,
strong {
  font-weight: 700; }

dfn,
cite,
em,
i {
  font-style: italic; }

address {
  font-style: italic;
  margin: 0 0 1.6em; }

abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
  cursor: help; }

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

a {
  text-decoration: none;
  color: black; }

dd {
  padding-left: 20px;
  padding-left: 2rem; }

* {
  -webkit-tap-highlight-color: transparent; }

figure {
  text-align: center; }

img {
  max-width: 100%;
  height: auto; }

hr {
  border: 0;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  color: black;
  opacity: 0.9;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  filter: alpha(opacity=90); }

*:focus {
  outline: 0; }

html {
  font-size: 10px;
  height: 100%; }

body {
  height: 100%;
  background: #f4f4f4; }

* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.page {
  width: 990px;
  margin: 0 auto;
  background: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd; }
  .page ul {
    margin-left: 340px;
    width: 618px;
    padding: 12px 0 0 0;
    min-height: 100vh; }
    .page ul li {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #ddd; }
      .page ul li article {
        position: relative;
        min-height: 36px;
        padding-left: 51px; }
        .page ul li article img {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%; }
        .page ul li article .Speech-content {
          font-size: 14px;
          line-height: 20px;
          word-wrap: break-word; }
          .page ul li article .Speech-content h3 {
            margin: 0 0 5px 0;
            font-size: 16px;
            font-weight: bold; }
            .page ul li article .Speech-content h3:before {
              content: '';
              display: inline-block;
              width: 12px;
              height: 12px;
              margin-right: 8px;
              border-radius: 50%; }
            .page ul li article .Speech-content h3.Rating-grade--5::before {
              background: #009039; }
            .page ul li article .Speech-content h3.Rating-grade--4::before {
              background: #58b20d; }
            .page ul li article .Speech-content h3.Rating-grade--3::before {
              background: #97d542; }
            .page ul li article .Speech-content h3.Rating-grade--2::before {
              background: #ff9803; }
            .page ul li article .Speech-content h3.Rating-grade--1::before {
              background: #c93634; }
        .page ul li article .Speech-info {
          margin-top: 5px; }
          .page ul li article .Speech-info .Speech-date {
            color: #aaa;
            font-size: 12px; }

/*# sourceMappingURL=style.css.map */
