<html>
<head>
  <title>Cacca</title>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

  <!--  https://thinkster.io/mean-stack-tutorial#beginning-node -->

  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/angularApp.js"></script>

</head>
<body ng-app="cacca" ng-controller="MainCtrl">
  <ui-view></ui-view>

  <script type="text/ng-template" id="/home.html">

    <div class="page" ng-if="admin">
      <ul>
        <li ng-repeat="im in posts | reverse">
          <article class="Rating Speech">
              <a href="#">
                <img src="images/{{im.img}}.jpg" height="36" width="36">
              </a>
              <div class="Speech-content">

                <div ng-switch on="{{im.rating}}">
                  <h3 class="Rating-grade Rating-grade--5" ng-switch-when="5">Eccellente</h3>
                  <h3 class="Rating-grade Rating-grade--4" ng-switch-when="4">Ottimo</h3>
                  <h3 class="Rating-grade Rating-grade--3" ng-switch-when="3">Buono</h3>
                  <h3 class="Rating-grade Rating-grade--2" ng-switch-when="2">Mediocre</h3>
                  <h3 class="Rating-grade Rating-grade--1" ng-switch-when="1">Pessimo</h3>
              </div>

                <p class="Rating-text">
                  <strong>{{im.name}}: </strong>{{im.text}}
                </p>
              </div>
              <footer class="Speech-info">
                <time class="Speech-date">{{im.time | date:" 'Domenica' dd' Giugno 'HH:mm"}}</time>
              </footer>
          </article>
        </li>
      </ul>
  </div>

  <form ng-submit="addPost()" ng-if="!admin">
    <h3>Add a new post</h3>

    <label><input type="radio" name="rating" value="5" ng-model="rating">Eccellente</label>
    <label><input type="radio" name="rating" value="4" ng-model="rating">Ottimo</label>
    <label><input type="radio" name="rating" value="3" ng-model="rating">Buono</label>
    <label><input type="radio" name="rating" value="2" ng-model="rating">Mediocre</label>
    <label><input type="radio" name="rating" value="1" ng-model="rating">Pessimo</label>

      <input type="text" class="form-control" placeholder="Nome"  ng-model="name"></input>
      <textarea rows="4" cols="50" class="form-control" placeholder="Testo" ng-model="text"></textarea>

      <button type="submit" class="btn">Invia</button>
  </form>
</script>

</body>
</html>
