/*
Theme Name: Superinternert
Theme URI: http://pabl.one
Author: pablo.galbusera@gmail.com
Author URI: http://pabl.one
Description: Superinternert
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: pablone
Text Domain: saporiti
*/

// Color

$color-text: rgb(0,0,0);

// Typography

$font: sans-serif;
$font-size: 1.5;
$letter-spacing: 0;

// Grid

$margin-body: 3.6;

// Animations
$transition-fast: 300ms;

@import 'function';

@import 'reset';

html {
	font-size: 10px;
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	background: #f4f4f4;
	overflow: hidden;
}

* {
	@include textSizeAdjust(100%);
}

.page {
	width: 990px;
	margin: 0 auto;
	background: #fff;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	ul {
		margin-left: 340px;
		width: 618px;
		padding: 12px 0 0 0;
		min-height: 100vh;
		li {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid #ddd;
			article {
				position: relative;
				min-height: 36px;
				padding-left: 51px;
				img {
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 50%;
				}
				.Speech-content {
					font-size: 14px;
					line-height: 20px;
					word-wrap: break-word;
					h3 {
						&:before {
							content: '';
							display: inline-block;
							width: 12px;
							height: 12px;
							margin-right: 8px;
							border-radius: 50%;
						}
						margin: 0 0 5px 0;
						font-size: 16px;
						font-weight: bold;
						&.Rating-grade--5::before {
						    background: #009039;
						}
						&.Rating-grade--4::before {
						    background: #58b20d;
						}
						&.Rating-grade--3::before {
						    background: #97d542;
						}
						&.Rating-grade--2::before {
						    background: #ff9803;
						}
						&.Rating-grade--1::before {
						    background: #c93634;
						}
					}
				}
				.Speech-info {
					margin-top: 5px;
					.Speech-date {
						color: #aaa;
						font-size: 12px;
					}
				}
			}
		}
	}
}
