<html lang="en" ng-app="cacca">
<head>
  <meta charset="utf-8">

  <title>Blablacac</title>
  <meta name="description" content="Blablacac">
  <meta name="author" content="Pabl.one">


  <link rel="stylesheet" href="css/style.css?v=1.0">

</head>

<body ng-controller="caccaCtrl">
  <div class="page">

  <ul>
    <li ng-repeat="im in import">
      <article class="Rating Speech">
          <a href="#">
            <img src="img/{{im.img}}" height="36" width="36">
          </a>
          <div class="Speech-content">

            <div ng-switch on="{{im.star}}">
              <h3 class="Rating-grade Rating-grade--5" ng-switch-when="5">Eccellente</h3>
              <h3 class="Rating-grade Rating-grade--4" ng-switch-when="4">Ottimo</h3>
              <h3 class="Rating-grade Rating-grade--3" ng-switch-when="3">Buono</h3>
              <h3 class="Rating-grade Rating-grade--2" ng-switch-when="2">Mediocre</h3>
              <h3 class="Rating-grade Rating-grade--1" ng-switch-when="1">Pessimo</h3>
          </div>
          
            <p class="Rating-text">
              <strong>{{im.name}}: </strong>{{im.text}}
            </p>
          </div>
          <footer class="Speech-info">
            <time class="Speech-date" datetime="2016-04-07T19:15:34+02:00">Giovedì 07 aprile - 19:15</time>
          </footer>
      </article>
    </li>
  </ul>
  </div>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
